<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
	<!--se hace conexion con la base de datos de sql-->
	<connectionStrings>
		
		<add name="sqlconex" connectionString="server=localhost\SQLEXPRESS;Integrated security=yes;Database=capas1"/>
		<!--name = variable que quiera, connectionString = conexion al server el  . significa que conecta al server del pc - Database se iguala a capa1-->
	
	</connectionStrings>
    
</configuration>